body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal overflow */
  }
  
  .wave-container {
    height: 100%;
    background: url("white-wave-bg.svg") center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
  }

  